.ChatPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  padding: 5rem 5rem 0 5rem;
}

.Header {
  margin-bottom: 3rem;
}

.ChatBox {
  flex: 1;
}

.ChatForm {
  margin-top: 3rem;
  margin-bottom: 2rem;
}