.AdminChatPage {
  padding: 5rem 5rem 0 5rem;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas:
    'header header'
    'sidebar chatbox'
    'sidebar form';
  grid-gap: 2rem;
  grid-template-columns: 30% 70%;
}

.Sidebar {
  grid-area: sidebar;
}

.Header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  grid-area: header;
}

.Button {
  font-size: 4rem;
  padding-left: 1rem;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

.ChatBox {
  grid-area: chatbox;
  height: 65vh; //TODO: investigate other elegant solutions
}

.ChatForm {
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-area: form;
}