.ChatForm {
  display: flex;
}

.Input {
  flex: 1;
  text-align: left;
}

.Button {
  font-size: 4rem;
  padding-left: 1rem;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}